{{- $name := get . "name" -}}
{{- if not $name -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}

  # for fast git status in bash prompt
  install_gitstatus = true

  # for coloured shell output
  install_grc = true

  # various misc tools
  install_misc_tools = false
