# vim: ft=toml:

{{ $name := get . "name" }}
{{ if not $name }}
{{   $name = promptString "name" }}
{{ end }}

{{ $email := get . "email" }}
{{ if not $email }}
{{   $email = promptString "email" }}
{{ end }}

{{ $base_profile := get . "base_profile" }}
{{ if not $base_profile }}
{{   $base_profile = "full" }}
{{ end }}

{{ $defaults := dict }}
{{ if (eq $base_profile "full") }}
{{   $_ := set $defaults "install_gitstatus" true }}
{{   $_ := set $defaults "install_grc" true }}
{{   $_ := set $defaults "install_fzf" true }}
{{   $_ := set $defaults "install_rg" true }}
{{   $_ := set $defaults "install_misc_tools" true }}
{{   $_ := set $defaults "install_latest_neovim" true }}
{{   $_ := set $defaults "install_vim_plugins" true }}
{{   $_ := set $defaults "upgrade_tmux_if_old" true }}
{{ else if (eq $base_profile "minimal") }}
{{   $_ := set $defaults "install_gitstatus" false }}
{{   $_ := set $defaults "install_grc" true }}
{{   $_ := set $defaults "install_fzf" true }}
{{   $_ := set $defaults "install_rg" true }}
{{   $_ := set $defaults "install_misc_tools" false }}
{{   $_ := set $defaults "install_latest_neovim" false }}
{{   $_ := set $defaults "install_vim_plugins" false }}
{{   $_ := set $defaults "upgrade_tmux_if_old" false }}
{{ end }}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}

  # profile string which controls the defaults for the flags below
  base_profile = {{ $base_profile | quote }}

  # for fast git status in bash prompt
  install_gitstatus = {{ pluck "install_gitstatus" . $defaults | first }}

  # for coloured shell output
  install_grc = {{ pluck "install_grc" . $defaults | first }}

  # for fuzzy search
  install_fzf = {{ pluck "install_fzf" . $defaults | first }}

  # for fast grep
  install_rg = {{ pluck "install_rg" . $defaults | first }}

  # various misc tools
  install_misc_tools = {{ pluck "install_misc_tools" . $defaults | first }}

  # install neovim at least >= 0.5
  install_latest_neovim = {{ pluck "install_latest_neovim" . $defaults | first }}

  # pre-install vim and neovim plugins
  install_vim_plugins = {{ pluck "install_vim_plugins" . $defaults | first }}

  # ensure at least tmux version 2.6
  upgrade_tmux_if_old = {{ pluck "upgrade_tmux_if_old" . $defaults | first }}
