#!/bin/bash

set -xe

function install_gitstatus() {
  if [ ! -e "$HOME/.gitstatus" ]; then
    echo "Installing gitstatus."
    git clone --depth=1 https://github.com/romkatv/gitstatus.git "$HOME/.gitstatus"
  fi
}

function apt_install() {
  if command -v apt &> /dev/null; then
    sudo apt update
    sudo apt install -y $@
  fi
}

function install_grc() {
  {{ if (and (eq .chezmoi.os "linux")
             (eq .chezmoi.osRelease.id "ubuntu")) }}
    apt_install grc
  {{ else }}
    exit 1
  {{ end }}
}

function install_misc_tools() {
  {{ if (and (eq .chezmoi.os "linux")
             (eq .chezmoi.osRelease.id "ubuntu")) }}
    apt_install iftop net-tools nmap pv sysstat traceroute tree
  {{ else }}
    exit 1
  {{ end }}
}

echo "OS: {{ .chezmoi.os }}"
{{ if .install_gitstatus }} install_gitstatus {{ end }}
{{ if .install_grc }} install_grc {{ end }}
{{ if .install_misc_tools }} install_misc_tools {{ end }}
